<div class="addcontact-outer-container">
  <form method="POST" action="/postevent">
    <input type="text" name="contact_name" id="contact_name" placeholder="Contact Name" required>
    <br>
    <input type="text" name="phone" id="phone" placeholder="Contact Number" required>
    <br>
    <div class="addcontact-eventtype-container">
      <select name="event_name">
        <option value="" disabled selected>Select Event Type</option>
        {{#each eventslist}}
        <option value={{event_name}}>{{event_name}}</option>
        {{/each}}
      </select>
      <br>
      <input type="date" name="event_date" required>
    </div>
    <button class="btn" id="customeventbtn">+ create custom event</button>
    <br>
    <button type="button" id="add-new-event-button" class="btn">+ new event</button>
    <br>
    <select name="group_name">
      <option value="" disabled selected>Select Group</option>
      {{#each groupslist}}
      <option value={{group_name}}>{{group_name}}</option>
      {{/each}}
    </select>
    <button class="btn" id="customgroupbtn">+ create custom group</button>
    <br>
    <button type="submit" id="add-contact-button" class="btn btnsubmit">+ add contact</button>
  </form>
</div>
<nav class="mnb-container">
  <div class="mnb-borderbottom">
  <div class="mnb-borderbottom-left">
    <a href="/events"><img class="mnb-ul-eventsicon-bottom" src="./assets/icons8-calendar-11-100 (2).png" alt="contacts page icon"></a>
  </div>
<a href="/addcontact"><img class="mnb-ul-addicon-bottom" src="./assets/add-icon.png" alt="add contact icon"></a>
  <div class="mnb-borderbottom-right">
    <a href="/contacts"><img class="mnb-ul-contactsicon-bottom" src="./assets/icons8-group-96.png" alt="contacts page icon"></a>
  </div>
  </div>
</nav>
  <div class="addcontact-customgroup-modal">
    <div class="addcontact-customgroup-modal-contents">
      <span class="addcontact-customgroup-modal-close">&times;</span>
      <form method="POST" action="/postgroup">
      <label for="custom_group_name"><b>Create a custom group!</b></label>
        <input type="text" name="custom_group_name" id="custom_group_name" placeholder="Custom group name">
        <button type="submit" id="custom_group_button" class="btn">create group</button>
      </form>
    </div>
  </div>
  <div class="addcontact-customevent-modal">
    <div class="addcontact-customevent-modal-contents">
      <span class="addcontact-customevent-modal-close">&times;</span>
      <form method="POST" action="/posteventlist">
      <label for="custom_event_name"><b>Create a custom event!</b></label>
        <input type="text" name="custom_event_name" id="custom_event_name" placeholder="Custom event name">
        <button type="submit" id="custom_event_button" class="btn">create event</button>
      </form>
    </div>
  </div>
</div>
</div>
