<div class="">
  Events List
  {{#each eventslist}}
  <div class="">
    {{event_name}}
  </div>
  {{/each}}
</div>

<div class="">
  Groups List
  {{#each groupslist}}
  <div class="">
    {{group_name}}
  </div>
  {{/each}}
</div>
