<nav class="dnb-nav-container">
    <div class="dnb-homeLink">
        <a class="homepage-home-link" title="Home" href="/events">Remindly</a>
    </div>
    <div class="dnb-buttons">
        <a title="Add Contact" href="/addcontact"><img src="./assets/add-icon.png" alt="add contact icon"></a>
        <a title="Calendar" href="/events"><img src="./assets/icons8-calendar-11-100 (2).png" alt="calender icon"></a>
        <a title="Groups" href="/contacts"><img src="./assets/icons8-group-96.png" alt="groups icon"></a>
        <a class="register-button-link" title="Logout" href="/logout"><div class="register-button register-button-div">Logout</div></a>
    </div>
</nav>
<div class="desktopheader-outer-container">
    <div class="desktopheader-title">Contacts</div>
    <div class="desktopheader-filterbtn">
        <img src="./assets/icons8-slider-96.png" alt="slider img">
        <div class="desktopheader-filterbtn-text"> Filter</div>
    </div>
</div>
<div class="eventslist-outer-container">
    {{#each contacts}}
    <div class="eventslist-event-container">
      <div class="eventslist-usericon">
        <img src="./assets/icons8-customer-96.png" alt="user icon">
      </div>
        <div class="eventslist-name">{{name}}</div>
        <div class="eventslist-name">{{group_name}}</div>
    </div>
    {{/each}}
</div>
<nav class="mnb-container">
  <div class="mnb-borderbottom">
  <div class="mnb-borderbottom-left">
    <a href="/events"><img class="mnb-ul-eventsicon-bottom" src="./assets/icons8-calendar-11-100 (2).png" alt="contacts page icon"></a>
  </div>
<a href="/addcontact"><img class="mnb-ul-addicon-bottom" src="./assets/add-icon.png" alt="add contact icon"></a>
  <div class="mnb-borderbottom-right">
    <a href="/contacts"><img class="mnb-ul-contactsicon-bottom" src="./assets/icons8-group-96.png" alt="contacts page icon"></a>
  </div>
  </div>
</nav>
