<div class="desktopheader-outer-container">
    <div class="desktopheader-title">Contacts</div>
    <div class="desktopheader-filterbtn">
        <img src="./assets/icons8-slider-96.png" alt="slider img">
        <div class="desktopheader-filterbtn-text"> Filter</div>
    </div>
</div>
<div class="eventslist-outer-container">
    {{#each contacts}}
    <div class="eventslist-event-container">
        <div class="eventslist-name">{{name}}</div>
        <div class="eventslist-name">{{group_name}}</div>
    </div>
    {{/each}}
</div>
