<div class="login-form-container">
<form class="form-container" action="action_page.php">
  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit">Login</button>
  </div>
  <!-- <div class="container" style="background-color:#f1f1f1"> -->
    <span class="psw">Don't have an account yet? <a href="/register">Register</a></span>
  <!-- </div> -->
</form>
</div>
