<div class="login-form-container">
<form class="form-container" action="/login-form" method="post">
  <div class="container">
    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <button type="submit">Login</button>
  </div>
  <!-- <div class="container" style="background-color:#f1f1f1"> -->
    <span class="psw">Don't have an account yet? <a href="/register">Register</a></span>
  <!-- </div> -->
</form>
</div>
