<div class="eventslist-outer-container">
    {{#each events}}
    <div class="eventslist-event-container">
        <div class="eventslist-calendar">
            <div class="eventslist-calendar-month">JAN</div>
            <div class="eventslist-calendar-day">{{dateFormat event_date}}</div>
        </div>
        <div class="eventslist-name">{{contact_name}}'s {{event_name}}</div>
    </div>
    {{/each}}
</div>