<div class="login-form-container">
<form class="form-container" action="/register-form" method="post">
  <div class="container">
    <label for="first_name"><b>First Name</b></label>
    <input type="text" placeholder="Enter first name" name="first_name" required>
    <label for="last_name"><b>Last Name</b></label>
    <input type="text" placeholder="Enter last name" name="last_name" required>
    <label for="mobile_number"><b>Mobile Number</b></label>
    <input type="text" placeholder="Enter mobile number" name="mobile_number" required>
    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter email" name="email" required>
    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>
    <label for="password_confirm"><b>Confirm Password</b></label>
    <input type="password" placeholder="Confirm Password" name="password_confirm" required>

    <button type="submit">Login</button>
  </div>
  <!-- <div class="container" style="background-color:#f1f1f1"> -->
    <span class="psw">Already have an account? <a href="/">Login</a></span>
  <!-- </div> -->
</form>
</div>
