<nav class="dnb-nav-container">
    <div class="dnb-homeLink">
        <a class="homepage-home-link" title="Home" href="/events">Remindly</a>
    </div>
    <div class="dnb-buttons">
        <a class="register-button-link" href="/"><div class="register-button register-button-div">Login</div></a>
    </div>
</nav>
<div class="login-form-container-main">
<div class="login-form-container">
<form class="form-container" action="/register-form" method="post" autocomplete="on">
  <div class="container">
    <p>Please register below.</p>
    <label for="first_name"><b>First Name</b></label>
    <input type="text" placeholder="Enter first name" name="first_name" required>
    <label for="last_name"><b>Last Name</b></label>
    <input type="text" placeholder="Enter last name" name="last_name" required>
    <label for="mobile_number"><b>Mobile Number</b></label>
    <input type="text" placeholder="Enter mobile number" name="mobile_number" required>
    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter email" name="email" required>
    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>
    <label for="password_confirm"><b>Confirm Password</b></label>
    <input type="password" placeholder="Confirm Password" name="password_confirm" required>

    <button type="submit">Register</button>
    <span class="psw">Already have an account? <a href="/">Login</a></span>
  </div>
</form>
</div>
</div>
