<nav>
    <div id="dnb-homeLink">
        <a title="Home">Remindly</a>
    </div>
    <div id="dnb-buttons">
        <a title="Calendar"><img src="./assets/icons8-calendar-11-100 (2).png" alt="calender icon"></a>
        <a title="Groups"><img src="./assets/icons8-group-96.png" alt="groups icon"></a>
        <a title="Settings"><img src="./assets/icons8-settings-100 (1).png" alt="setting icon"></a>

    </div>
</nav>