<div class="desktopheader-outer-container">
    <div class="desktopheader-title">Upcoming Events</div>
    <div class="desktopheader-filterbtn">
        <img src="./assets/icons8-slider-96.png" alt="slider img">
        <div class="desktopheader-filterbtn-text"> Filter</div>
    </div>
</div>
