<div class="eventslist-outer-container">
    <div class="eventslist-event-container">
        <div class="eventslist-calendar">
            <div class="eventslist-calendar-month">JAN</div>
            <div class="eventslist-calendar-day">1st</div>
        </div>
        <div class="eventslist-name">Bob Billibob's Birthday</div>
    </div>
    <div class="eventslist-event-container">
        <div class="eventslist-calendar">
            <div class="eventslist-calendar-month">JAN</div>
            <div class="eventslist-calendar-day">1st</div>
        </div>
        <div class="eventslist-name">Bob Billibob's Birthday</div>
    </div>
    <div class="eventslist-event-container">
        <div class="eventslist-calendar">
            <div class="eventslist-calendar-month">JAN</div>
            <div class="eventslist-calendar-day">1st</div>
        </div>
        <div class="eventslist-name">Bob Billibob's Birthday</div>
    </div>
    <div class="eventslist-event-container">
        <div class="eventslist-calendar">
            <div class="eventslist-calendar-month">JAN</div>
            <div class="eventslist-calendar-day">1st</div>
        </div>
        <div class="eventslist-name">Bob Billibob's Birthday</div>
    </div>
</div>