<nav class="mnb-container">
  <div class="mnb-borderbottom">
  <div class="mnb-borderbottom-left">
    <img class="mnb-ul-eventsicon-bottom" src="./assets/icons8-calendar-11-100 (2).png" alt="contacts page icon">
  </div>
  <img class="mnb-ul-addicon-bottom" src="./assets/add-icon.png" alt="add contact icon">
  <div class="mnb-borderbottom-right">
    <img class="mnb-ul-contactsicon-bottom" src="./assets/icons8-group-96.png" alt="contacts page icon">
  </div>
  </div>
</nav>
