<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
  <link rel="apple-touch-icon" href="./assets/remindly-icon.jpg" />
  <link rel="apple-touch-icon" href="./assets/remindly-icon.jpg" />
  <link
    rel="apple-touch-icon"
    sizes="152x152"
    href="./assets/remindly-icon.jpg"
  />
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="./assets/remindly-icon.jpg"
  />
  <link
    rel="apple-touch-icon"
    sizes="167x167"
    href="./assets/calculatoricon.jpg"
  />
  <link rel="apple-touch-startup-image" href="./assets/remindly-splash.jpg" />
  <!-- iPhone 8, 7, 6s, 6 (750px x 1334px) -->
  <link
    rel="apple-touch-startup-image"
    media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)"
    href="./assets/remindly-splash.jpg"
  />
  <meta
    name="apple-mobile-web-app-status-bar-style"
    content="default"
  />
  <meta name="apple-mobile-web-app-title" content="Remindly" />
    <link href="https://fonts.googleapis.com/css?family=Chivo:400,700" rel="stylesheet">
    <link rel="stylesheet" href="./style.css">
    <title>Remindly</title>
  </head>
  <body>
    {{> desktopNav }}
    {{{body}}}
    {{> mobileNav}}
  </body>
</html>
